body{
    width: auto;
    height: auto;
    overflow-x: hidden;
}
::-webkit-scrollbar-track{
    background-color:rgba(9, 22, 87, 1);
 }
 ::-webkit-scrollbar{ 
    width: 9px;  
 }
 ::-webkit-scrollbar-thumb {
    background-color:#544d8f;
    border-radius: 200px ;
    border-color:#131030;
    border-style: solid;
    border-width: 2.2px; 
  }