@font-face {
	font-family: 'Open Sans';
	src: url(../../../assets/fonts/OpenSans-Bold.ttf);
}
@font-face{
    font-family: 'SoleilRegular';
    src: url(../../../assets/fonts/SoleilRegular.otf);
}
@font-face{
    font-family: 'SoleilBook';
    src: url(../../../assets/fonts/SoleilBook.otf);
}
@font-face{
    font-family: 'SoleilBold';
    src: url(../../../assets/fonts/SoleilBold.otf);
}
@font-face{
    font-family: 'Raleway-Medium';
    src: url(../../../assets/fonts/Raleway-Medium.ttf);
}
@font-face{
    font-family: 'Raleway-Regular';
    src: url(../../../assets/fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: 'newOrderBold';
    src: url(../../../assets/fonts/newOrderBold.otf);
}
@font-face {
    font-family: 'newOrderRegular';
    src: url(../../../assets/fonts/newOrderRegular.otf);
}