.containerForm {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 40, 87, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  padding: 30px;
}

.containerForm .contentForm {
  width: 60%;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerForm .contentForm .form {
  -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.24);
          box-shadow: 0 8px 24px rgba(0, 0, 0, 0.24);
  width: 30vw;
  height: 90%;
  background-color: #fff;
  border-radius: 12px;
  padding: 50px 30px;
}

.containerForm .contentForm .form .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  height: 50px;
}

.containerForm .contentForm .form .header svg {
  width: 27px;
  height: auto;
}

.containerForm .contentForm .form .header button {
  cursor: pointer;
  border-style: none;
  background-color: transparent;
}

.containerForm .contentForm .form .header button svg {
  fill: #23375e;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.containerForm .contentForm .form .header button:hover > svg {
  fill: #ff6b6b;
}

.containerForm .contentForm .form h3 {
  font-family: 'SoleilBold', sans-serif;
  font-size: 2.5rem;
  max-width: 430px;
  width: auto;
  color: #2a3459;
}

.containerForm .contentForm .form form {
  /* background-color: #a0a0ff; */
  margin-top: 40px;
}

.containerForm .contentForm .form form label {
  font-family: 'SoleilBook', sans-serif;
  font-size: 1.5rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.containerForm .contentForm .form form input {
  outline: none;
  border: none;
  border-bottom: 2px solid #172857;
  font-family: 'SoleilBook', sans-serif;
  font-size: 1.2rem;
  margin-top: 20px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.containerForm .contentForm .form form input:not(:placeholder-shown) ~ label {
  color: #6570FF;
}

.containerForm .contentForm .form form input:focus ~ label {
  color: #6570FF;
}

.containerForm .contentForm .form form input:not(:placeholder-shown) {
  border-bottom: 2px solid #6570FF;
}

.containerForm .contentForm .form form input:focus {
  border-bottom: 2px solid #6570FF;
}

.containerForm .contentForm .form form textarea {
  font-size: 1.2rem;
  outline: none;
  border: none;
  resize: none;
  border-bottom: 2px solid #172857;
  font-family: 'SoleilBook', sans-serif;
  margin-top: 20px;
  overflow-y: auto;
  height: auto;
  max-height: 180px;
}

.containerForm .contentForm .form form textarea:not(:placeholder-shown) ~ label {
  color: #6570FF;
}

.containerForm .contentForm .form form textarea:focus ~ label {
  color: #6570FF;
}

.containerForm .contentForm .form form textarea:not(:placeholder-shown) {
  border-bottom: 2px solid #6570FF;
}

.containerForm .contentForm .form form textarea:focus {
  border-bottom: 2px solid #6570FF;
}

.containerForm .contentForm .form form div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-top: 20px;
}

.containerForm .contentForm .form form div p {
  font-family: 'SoleilBook', sans-serif;
  margin-top: 6px;
  font-size: .9rem;
  color: #b6b6b6;
}

.containerForm .contentForm .form form div:first-child {
  margin-top: 0;
}

.containerForm .contentForm .form form button {
  cursor: pointer;
  border-style: none;
  margin-top: 50px;
  width: 188px;
  height: 61px;
  font-family: 'SoleilBook', sans-serif;
  background-color: #6570FF;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 8px 24px rgba(23, 40, 87, 0.24);
          box-shadow: 0 8px 24px rgba(23, 40, 87, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.containerForm .contentForm .form form button img {
  width: 38px;
  height: auto;
}

.containerForm .contentForm .form form button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 8px 24px rgba(23, 40, 87, 0.4);
          box-shadow: 0 8px 24px rgba(23, 40, 87, 0.4);
}

.containerForm .contentForm .form form button:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 8px 20px rgba(23, 40, 87, 0.2);
          box-shadow: 0 8px 20px rgba(23, 40, 87, 0.2);
}
/*# sourceMappingURL=style.css.map */