
#show{
    opacity: 1;
    transform: translate3d(0, 0 , 0);
}

[data-anime]{
    transition: .5s ease-out;
}
[data-anime="left"]{
    opacity: 0;
    transform: translate3d(-7px, 0 , 0);
}
[data-anime="right"]{
    opacity: 0;
    transform: translate3d(7px, 0 , 0);
}
[data-anime="up"]{
    opacity: 0;
    transform: translate3d(0, 10px , 0) ;
}