@media only screen and(max-width: 1574px){
    .App {
        main {
            .container {
                .conversionContainer{
                    .conversion{
                        margin-top: 73px;
                        h2{
                            font-size: 3rem;
                        }
                        .openContact{
                            width: 286px;
                            height: 57px;
                            font-size: 1.7rem;
                        }
                    }
                }
            }                        
        } 
    }   
}
@media only screen and(max-width: 1392px){

}