/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: auto;
  height: auto;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Open Sans';
  src: url(../../../assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'SoleilRegular';
  src: url(../../../assets/fonts/SoleilRegular.otf);
}

@font-face {
  font-family: 'SoleilBook';
  src: url(../../../assets/fonts/SoleilBook.otf);
}

@font-face {
  font-family: 'SoleilBold';
  src: url(../../../assets/fonts/SoleilBold.otf);
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url(../../../assets/fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url(../../../assets/fonts/Raleway-Regular.ttf);
}

.App {
  height: auto;
}

.App header {
  width: 100vw;
}

.App .start {
  width: 100vw;
  height: 100vh;
}

.App main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* background-color: #9595FF; */
  position: relative;
  width: auto;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.App main .container {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9595FF), to(#5651FF));
  background-image: linear-gradient(#9595FF, #5651FF);
  width: 100vw;
  height: 100vh;
  max-height: 1920px;
  /* min-height: 600px; */
}

.App main .container img {
  position: absolute;
  -webkit-filter: contrast(1.2);
          filter: contrast(1.2);
}

.App main .container .treeLeaves {
  z-index: 20;
  height: 48%;
}

.App main .container .leavesRight {
  z-index: 20;
  right: 0;
  height: 29%;
}

.App main .container .leavesLeftR, .App main .container .leavesRightR, .App main .container .trunksLeftR, .App main .container .trunkRightR, .App main .container .grassRightR, .App main .container .grassLeftR, .App main .container .grassMidBackR, .App main .container .grassMidR, .App main .container .vine1R {
  display: none;
}

.App main .container .treeTrunks {
  z-index: 10;
  height: 84%;
  left: 20px;
  bottom: -5px;
}

.App main .container .groupTrunks {
  position: absolute;
  width: 156vh;
  min-width: 936px;
  height: 100%;
  left: 0;
}

.App main .container .groupTrunks .trunksContainer {
  position: absolute;
  right: 0;
  width: 57%;
  height: 100%;
}

.App main .container .groupTrunks .trunksContainer .midTrunk {
  z-index: 14;
  height: 77%;
  left: 0;
  bottom: -1%;
}

.App main .container .groupTrunks .trunksContainer .lastTrunk {
  z-index: 12;
  height: 77%;
  left: 72%;
  bottom: -1%;
}

.App main .container .bushLeft {
  z-index: 12;
  bottom: 0;
  left: 0;
  height: 33%;
}

.App main .container .bushRight {
  z-index: 12;
  bottom: 0;
  right: 0;
  height: 35.1%;
}

.App main .container .leftGrass {
  z-index: 20;
  left: -16px;
  bottom: -2%;
  height: 19%;
}

.App main .container .grassRight {
  z-index: 20;
  right: 0;
  bottom: -15px;
  height: 14.5%;
}

.App main .container .vine1 {
  z-index: 14;
  height: 16%;
  top: 22%;
  left: 0;
}

.App main .container .vine2 {
  z-index: 14;
  height: 21%;
  top: 19%;
  left: 6%;
}

.App main .container .vine3 {
  z-index: 13;
  height: 12%;
  top: 28%;
  left: 62vh;
}

.App main .container .moon {
  position: absolute;
  top: 20px;
  right: 53px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* background-color: red; */
  background-image: radial-gradient(#a0a0ff, rgba(255, 255, 255, 0.84));
  -webkit-box-shadow: 0 0 100px white;
          box-shadow: 0 0 100px white;
}

.App main .container .groupMark {
  height: 100%;
  width: auto;
  position: absolute;
  bottom: 0;
  left: 190px;
}

.App main .container .groupMark .branchTrunkR {
  display: none;
}

.App main .container .groupMark .branchTrunk {
  z-index: 15;
  /* width: 385px; */
  height: 75.5%;
  left: -13%;
  bottom: 0;
}

.App main .container .groupMark svg {
  z-index: 18;
  position: absolute;
  height: 60%;
  left: -8%;
  top: 18%;
}

.App main .container .groupMark svg g path {
  -webkit-filter: drop-shadow(0 0 2.75rem #ffffff);
          filter: drop-shadow(0 0 2.75rem #ffffff);
  fill: #fff;
  /* animation: pisca .2s infinite; */
}

.App main .container .groupMark svg g rect {
  fill: none;
}

.App main .container .groupMark .circleCoruja {
  z-index: 14;
  position: relative;
  left: -7%;
  top: 14%;
  min-width: 386px;
  min-height: 383px;
  width: 60vh;
  height: 60vh;
  border-radius: 50%;
  border: 1vh solid #fff;
  -webkit-filter: drop-shadow(0 0 1.75rem #ffffff);
          filter: drop-shadow(0 0 1.75rem #ffffff);
  /*  animation: pisca .2s infinite; */
}

.App main .container h1 {
  z-index: 13;
  bottom: 8%;
  left: .7%;
  position: absolute;
  color: #fff;
  font-size: 18vh;
  font-family: 'Open Sans', sans-serif;
}

.App main .container .conversionContainer {
  position: absolute;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  width: 46%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App main .container .conversionContainer .conversion {
  width: 839px;
  height: auto;
}

.App main .container .conversionContainer .conversion h2 {
  font-family: 'SoleilBold', sans-serif;
  color: #fff;
  font-size: 4rem;
  right: 0;
  text-shadow: 0 0 20px #00000026;
}

.App main .container .conversionContainer .conversion h3 {
  font-family: 'SoleilRegular', sans-serif;
  color: #fff;
  max-width: 691px;
  font-size: 1.2rem;
  margin-top: 20px;
}

.App main .container .conversionContainer .conversion .openContact {
  cursor: pointer;
  border-style: none;
  margin-top: 20px;
  width: 305px;
  height: 60px;
  background-image: linear-gradient(45deg, #ff877d, #ffb58a);
  -webkit-box-shadow: 0 8px 30px rgba(255, 135, 125, 0.4);
          box-shadow: 0 8px 30px rgba(255, 135, 125, 0.4);
  border-radius: 100px;
  font-family: 'SoleilBook', sans-serif;
  color: #fff;
  font-size: 1.85rem;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.App main .container .conversionContainer .conversion .openContact:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-box-shadow: 0 16px 40px rgba(255, 135, 125, 0.6);
          box-shadow: 0 16px 40px rgba(255, 135, 125, 0.6);
}

.App main .container .conversionContainer .conversion .openContact:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 0 8px 30px rgba(255, 135, 125, 0.4);
          box-shadow: 0 8px 30px rgba(255, 135, 125, 0.4);
}

.App .achievements {
  position: absolute;
  z-index: 100;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -11vh;
  width: 900px;
  height: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.18);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  padding: 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* box-shadow: 0 8px 24px rgba(255, 255, 255, .24); */
}

.App .achievements p {
  color: #fff;
  font-family: 'Raleway-Medium';
  text-align: center;
  font-size: 1.1rem;
}

.App .achievements div {
  width: 155px;
  height: 144px;
}

.App .achievements div div {
  height: 78% !important;
}

.App .achievements div div g path {
  fill: #fff;
  stroke: #fff;
}

@-webkit-keyframes pisca {
  to {
    /* filter: brightness(20%); */
    -webkit-filter: drop-shadow(0);
            filter: drop-shadow(0);
    fill: #172857;
    border-color: #172857;
  }
  from {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    -webkit-filter: drop-shadow(0 0 1.75rem #ffffff);
            filter: drop-shadow(0 0 1.75rem #ffffff);
    border-color: #fff;
    fill: #fff;
  }
}

@keyframes pisca {
  to {
    /* filter: brightness(20%); */
    -webkit-filter: drop-shadow(0);
            filter: drop-shadow(0);
    fill: #172857;
    border-color: #172857;
  }
  from {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
    -webkit-filter: drop-shadow(0 0 1.75rem #ffffff);
            filter: drop-shadow(0 0 1.75rem #ffffff);
    border-color: #fff;
    fill: #fff;
  }
}

@media only screen and (max-width: 1291px) {
  .App main .container .groupMark .circleCoruja {
    left: -16%;
  }
  .App main .container .conversionContainer {
    min-width: 567px;
  }
  .App main .container .conversionContainer .conversion {
    margin-top: 73px;
  }
  .App main .container .conversionContainer .conversion h2 {
    font-size: 3rem;
  }
  .App main .container .conversionContainer .conversion .openContact {
    width: 286px;
    height: 57px;
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 1218px) {
  .App main .container .groupMark {
    left: 16px;
  }
  .App main .container .groupMark .circleCoruja {
    left: -16%;
  }
  .App main .container .conversionContainer {
    min-width: 567px;
  }
  .App main .container .conversionContainer .conversion {
    margin-top: 73px;
  }
  .App main .container .conversionContainer .conversion h2 {
    font-size: 3rem;
  }
  .App main .container .conversionContainer .conversion .openContact {
    width: 286px;
    height: 57px;
    font-size: 1.7rem;
  }
  .App main .container h1 {
    left: 3.7%;
  }
}

@media only screen and (max-width: 1037px) {
  .App main .container .treeLeaves, .App main .container .leavesRight, .App main .container .midTrunk, .App main .container .treeTrunks, .App main .container .vine1, .App main .container .vine2, .App main .container .vine3, .App main .container .circleCoruja, .App main .container .leftGrass, .App main .container .grassRight, .App main .container h1 {
    display: none;
  }
  .App main .container .leavesLeftR, .App main .container .leavesRightR, .App main .container .trunkRightR, .App main .container .trunksLeftR, .App main .container .grassRightR, .App main .container .grassLeftR, .App main .container .grassMidR, .App main .container .grassMidBackR, .App main .container .vine1R {
    display: block;
  }
  .App main .container .leavesLeftR {
    z-index: 20;
    height: 38%;
  }
  .App main .container .leavesRightR {
    z-index: 19;
    right: 0;
    height: 38%;
  }
  .App main .container .vine1R {
    z-index: 10;
    top: 15%;
    height: 21%;
    left: 12px;
    width: 100%;
  }
  .App main .container .trunkRightR, .App main .container .trunksLeftR {
    z-index: 10;
    height: 84%;
    bottom: -5px;
  }
  .App main .container .trunksLeftR {
    left: -28px;
  }
  .App main .container .trunkRightR {
    right: 56px;
  }
  .App main .container .groupTrunks {
    width: 100%;
    min-width: auto;
  }
  .App main .container .groupTrunks .trunksContainer .lastTrunk {
    left: auto;
    right: 0;
  }
  .App main .container .groupMark {
    left: 0;
  }
  .App main .container .groupMark .branchTrunk {
    display: none;
  }
  .App main .container .groupMark .branchTrunkR {
    display: block;
    z-index: 12;
    height: 75.5%;
    bottom: 0;
    left: 35px;
  }
  .App main .container .groupMark svg {
    height: 43%;
    left: 45px;
    top: 28.5%;
  }
  .App main .container .groupMark svg g .rab {
    -webkit-transform: translateY(23px);
            transform: translateY(23px);
  }
  .App main .container .bushLeft {
    z-index: 13;
    height: 21%;
  }
  .App main .container .bushRight {
    z-index: 11;
    height: 21.5%;
    left: 3px;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .App main .container .grassRightR {
    z-index: 12;
    right: -10px;
    bottom: -10px;
    height: 12%;
  }
  .App main .container .grassLeftR {
    z-index: 13;
    left: -13px;
    bottom: -10px;
    height: 10%;
  }
  .App main .container .grassMidR {
    z-index: 13;
    left: 267px;
    bottom: -10px;
    height: 8%;
  }
  .App main .container .grassMidBackR {
    z-index: 12;
    left: 294px;
    bottom: -10px;
    height: 11%;
  }
  .App main .container .conversionContainer {
    z-index: 25;
    width: 100%;
    min-width: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .App main .container .conversionContainer .conversion {
    width: 78%;
    max-width: 475px;
    min-width: 464px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
  }
  .App main .container .conversionContainer .conversion h2 {
    font-size: 2.3rem;
  }
  .App main .container .conversionContainer .conversion h3 {
    width: 100%;
    font-size: 1.1rem;
  }
  .App main .container .moon {
    right: 259px;
  }
}

@media only screen and (max-width: 910px) {
  .App .achievements {
    width: 95%;
    bottom: -16vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
}

@media only screen and (max-width: 538px) {
  .App .achievements {
    display: none;
  }
}

@media only screen and (max-width: 474px) {
  .App main .container .conversionContainer .conversion {
    width: 100%;
    min-width: 0;
  }
  .App main .container .conversionContainer .conversion h2 {
    font-size: 2.1rem;
  }
  .App main .container .conversionContainer .conversion h3 {
    width: 94%;
  }
}

@media only screen and (max-width: 395px) {
  .App main .container .conversionContainer .conversion h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 385px) {
  .App main .container .conversionContainer .conversion h2 {
    font-size: 1.8rem;
  }
  .App main .container .trunkRightR {
    right: -45px;
  }
  .App main .container .trunksLeftR {
    left: -37px;
  }
  .App main .container .groupTrunks .trunksContainer {
    right: -41px;
  }
  .App main .container .groupMark {
    left: -38px;
    height: 90%;
  }
}

@media only screen and (max-width: 344px) {
  .App main .container .conversionContainer .conversion {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=index.css.map */